## Ignore any Visual Studio temporary files, build results, etc

# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
packages/

# Visual Studio 2015 cache/options directory
.vs/