<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- This is the Github Enterprise Server REST API endpoint URL -->
    <add key="GitHubServerRestEndpoint" value="https://github.contoso.com" />
    <!-- This is the Personal Access Token to authenticate with your Github Enterprise Server -->
    <add key="GitHubServerAccessToken" value="access_token" />
    <!-- This is the query which will be used when querying the Github Enterprise Server. Please see the README for further details on syntax -->
    <add key="GitHubServerQuery" value="updated:{0}..{1} repo:username/TugBoatGitHubRepo state:closed type:pr" />
    <!-- This is the local path on the file system where to save the generated Excel document to (optional) -->
    <add key="LocalOutputPath" value="C:\Home\" />
    <!-- This is the url to the Tugboat Logic evidence upload endpoint, which is provided to you once you create a new custom evidence collector in Tugboat Logic. Please see the README. -->
    <add key="TugboatLogicCollectorUrl" value="https://openapi.tugboatlogic.com/api/v0/evidence/collector/0000/" />
    <!-- This is the username to authenticate with the Tugboat Logic evidence upload endpoint. Please see the README. -->
    <add key="TugboatLogicUsername" value="generated_username" />
    <!-- This is the password to authenticate with the Tugboat Logic evidence upload endpoint. Please see the README. -->
    <add key="TugboatLogicPassword" value="generated_password" />
    <!-- This is the API key to authenticate with the Tugboat Logic evidence upload endpoint. Please see the README. -->
    <add key="TugboatLogicApiKey" value="aaaaaaaa-bbbb-1111-2222-cccccccccccc-org-id-11111" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>