JiraServerRestEndpoint=https://jira.contoso.com
JiraServerUsername=jira_username
JiraServerPassword=jira_password
JiraServerJqlQuery=resolved >= -90d AND project in (TBL) AND status = Closed ORDER BY created DESC
LocalOutputPath=C:\\Home\\
TugboatLogicCollectorUrl=https://openapi.tugboatlogic.com/api/v0/evidence/collector/000/
TugboatLogicUsername=generated_username
TugboatLogicPassword=generated_password
TugboatLogicApiKey=aaaaaaaa-bbbb-1111-2222-cccccccccccc-org-id-11111