<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- This is the Jira REST API endpoint URL -->
    <add key="JiraServerRestEndpoint" value="https://jira.contoso.com" />
    <!-- This is the username used to authenticate with your Jira Server -->
    <add key="JiraServerUsername" value="jira_username" />
    <!-- This is the password used to authenticate with your Jira Server -->
    <add key="JiraServerPassword" value="jira_password" />
    <!-- This is the JQL query which will be used when querying the Jira Server. Please see the README for further details on JQL syntax -->
    <add key="JiraServerJqlQuery" value="resolved &gt;= -90d AND project in (TBL) AND status = Closed ORDER BY created DESC" />
    <!-- This is the local path on the file system where to save the generated Excel document to (optional) -->
    <add key="LocalOutputPath" value="C:\Home\" />
    <!-- This is the url to the Tugboat Logic evidence upload endpoint, which is provided to you once you create a new custom evidence collector in Tugboat Logic. Please see the README. -->
    <add key="TugboatLogicCollectorUrl" value="https://openapi.tugboatlogic.com/api/v0/evidence/collector/0000/" />
    <!-- This is the username to authenticate with the Tugboat Logic evidence upload endpoint. Please see the README. -->
    <add key="TugboatLogicUsername" value="generated_username" />
    <!-- This is the password to authenticate with the Tugboat Logic evidence upload endpoint. Please see the README. -->
    <add key="TugboatLogicPassword" value="generated_password" />
    <!-- This is the API key to authenticate with the Tugboat Logic evidence upload endpoint. Please see the README. -->
    <add key="TugboatLogicApiKey" value="aaaaaaaa-bbbb-1111-2222-cccccccccccc-org-id-11111" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>