[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
python-dateutil = "*"
requests = "*"
requests-toolbelt = "*"

[dev-packages]

[requires]
python_version = "3.8"
